body {
  margin: 0em;
}
.header-block {
  background-color: rgb(172, 107, 107);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-bottom: 1em;
}

.before-login {
  display: flex;
  gap: 1rem;
}
.sign-in,
.sign-up,
.user-name,
.log-out {
  font-size: large;
  font-weight: 500;
  color: white;
  cursor: pointer;
  list-style: none;
}
.sign-in:hover,
.sign-up:hover,
.log-out:hover {
  color: rgb(99, 27, 22);
}
.after-login {
  display: none;
}
#cart {
  cursor: pointer;
}
#home {
  cursor: pointer;
}

/*Form */
section {
  display: flex;
  justify-content: center;
  padding: 2em;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding: 2em;
  padding-left: 4em;
  padding-right: 4em;
  border: 2px solid #b96262;
  width: auto;
  height: auto;
  align-items: flex-start;
  justify-content: center;
  border-radius: 1em;
}

form h2 {
  font-size: xx-large;
  align-self: center;
  text-decoration: none;
  text-shadow: #b96262;
  color: #b96262;
  font-style: normal;
  padding: 0.5em;
  border-radius: 0.3em;
}
form label {
  font-weight: bold;
}
#first-name,
#last-name,
#email,
#password,
#repeat-password {
  line-height: 2em;
  margin-bottom: 1.5em;
}

#checkbox {
  margin-bottom: 2em;
}
form p {
  font-size: 0.5em;
}
form button {
  align-self: center;
  margin-top: 2em;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: rgb(172, 107, 107);
  padding-left: 2em;
  padding-right: 2em;
  cursor: pointer;
}

.message {
  color: red;
  font-size: 0.75em;
  margin-top: -1.5em;
  align-self: flex-start;
  display: none;
}
#successMessage {
  color: green;
  font-size: 1em;
  margin-top: 2em;
  padding: 1em;
  display: none;
  align-self: center;
  border: 1px solid green;
  box-shadow: 1em 0.5em 5em;
}

/* footer */
footer {
  width: 100vw;
  margin-bottom: 0rem;
}
footer ul {
  display: flex;
  flex-direction: row;
  background-color: rgb(172, 107, 107);
  color: rgb(172, 107, 107);
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0em;
}
footer ul li h2 {
  font-size: 1em;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 500) {
  form {
    width: 90vw;
  }
}
