body {
  margin: 0vw;
  min-height: 100vh;
}
.header-block {
  background-color: rgb(172, 107, 107);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
.before-login {
  display: flex;
}
.sign-in,
.sign-up,
.user-name,
.log-out {
  font-size: large;
  font-weight: 500;
  color: white;
  cursor: pointer;
  list-style: none;
}
.after-login {
  display: none;
}

#cart {
  cursor: pointer;
}
#home {
  cursor: pointer;
}
main {
  min-height: 80vh;
}

/*All products*/
.products {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(170, 129, 129);
}
.each-product {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
  margin-top: 1vh;
  background-color: white;
  border-radius: 1vw;
}

.product-images {
  padding: 1vw;
  height: 20em;
  width: 20em;
  object-fit: contain;
  background-color: white;
  cursor: pointer;
  border-radius: 2vw;
}
.productImageDis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  align-items: center;
  width: 20em;
}
.product-names {
  color: black;
  font-size: 1em;
  text-align: center;
}
.product-price {
  color: black;
  font-size: 1.5em;
  font-weight: bolder;
}
/* single product*/
.display-single {
  display: flex;
  height: auto;
}
.single-product {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
}
.single-product-img {
  height: 40vh;
  width: 40vw;
  padding: 2vw;
  object-fit: contain;
  margin-top: 10vh;
}
.single-image-info {
  margin-left: 10vw;
  align-self: center;
}

.single-product-discription {
  font-size: 1em;
}
.single-product-price {
  font-size: 2em;
  font-weight: bolder;
}
.single-product-name {
  font-size: 2em;
  font-style: oblique;
}
.single-product-rating {
  font-size: 2em;
}
.single-product-button {
  font-size: 1em;
  color: white;
  font-weight: bold;
  border: none;
  background-color: rgb(170, 129, 129);
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 2em;
  width: 10em;
  cursor: pointer;
}
/* loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  left: 50%;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(172, 107, 107);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* footer */

footer ul {
  display: flex;
  flex-direction: row;
  background-color: rgb(172, 107, 107);
  color: rgb(172, 107, 107);
  align-items: center;
  justify-content: space-evenly;
}
footer ul li h2 {
  font-size: 2em;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  /*single product */
  .single-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
  }
  .single-product-img {
    width: 40vw;
    height: 40vh;
    object-fit: contain;
  }
  .single-image-info {
    margin-left: 0vw;
    text-align: center;
  }

  .single-product-discription {
    font-size: 1em;
  }
  .single-product-price {
    font-size: 2em;
    font-weight: bolder;
  }
  .single-product-name {
    font-size: 2em;
  }
  .single-product-category {
    font-size: 1em;
    font-weight: bold;
  }
  .single-product-button {
    font-size: 1.5em;
    width: 50vw;
    padding: 1vh;
    padding-left: 8vw;
    padding-right: 8vw;
    border-radius: 20vw;
  }
}
